<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Siddharth Agarwal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="navbar">
                <a href="#">Home</a>  
                <a href="#about">About</a>
                <a href="#experience">Experience</a>
                <a href="#education">Education</a>
                <a href="#projects">Projects</a>
                <a href="#skills">Skills</a>
                <a href="#contact">Contact</a>
            </div>
        </header>
    <div class="container">

      <!-- HEADER -->
      <div class="jumbotron">
        <div class="jumbotron-text">
          <h1>Siddharth Agarwal</h1>
          <p>Computer Science Sophomore at the University of Hong Kong</p>
        </div>
        <div class="jumbotron-social">
          <ul class="ul-social">
            <li class="li-social-links">
              <a class="social" href="https://github.com/agarsid" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li class="li-social-links">
              <a class="social" href="https://www.linkedin.com/in/siddharth-agarwal-/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div id="down-arrow">
          <span><a href="#about"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <!-- END HEADER -->



      <!-- BEGIN ABOUT -->
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="about"></a>
            <h2>About</h2>
          </div>
          <div class="content-body">
            <p>I am a sophomore at the University of Hong Kong pursuing Computer Science with a minor in Science Entrepreneurship.</p>
            <p>Ever since high school, I was extremely passionate about debating which I believe developed my interest in computer science since both of these involve logical and problem solving skills.
               This interest compelled me to implement and enhance my skills in the field by working as a Software Development intern and a technical research intern. Through both of these internships I gained the courage to contribute in a professional environment alongwith understanding the importance of collaboration.
               I have also worked on various self-initiated projects using the MERN stack to increase my knowledge. 
               Furthermore, balancing multiple projects in the University along with my professional duties has led to the development of a time-efficient work ethic and the ability to work under high-pressure situations.
             </p>
                
             <p>My career interests are not just restricted towards computer science.
                I am capable in software development and data analytics but would like to further enhance my skills in the field of finance. 
                I like working at the intersection of finance and technology and am thus particularly interested in Fintech solutions.
                
             </p>
            
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END ABOUT -->

      <!-- BEGIN EXPERIENCE -->
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="experience"></a>
            <h2>Experience</h2>
          </div>
          <!-- CARD #1 -->
          <div class="content-body">
            <div class="card">
              <div class="card-header">
                <h4><em>SleekFlow by Travis:</em>&nbsp; Software Development Intern <span class="job-title">September 2019 - February 2020</span></h4>
              </div>
              <div class="card-content">
                <p>Worked in a team of three to integrate the Line Business API into the already existing instant messaging platform model of SleekFlow using ASP.Net Core Model-View-Controller Framework and C#. <br>
                    Created a Widget-Generator Responsive Webiste using ReactJs. 
                    Updating database models and using Entity Framework (EF) Core so as to interact with the database.</p>
              </div>
            </div>

            <!-- CARD #2 -->

            <div class="card">
                <div class="card-header">
                  <h4> <em>University of Hong Kong: </em>&nbsp; Teaching Assistant <span class="job-title">September 2019 - Present</span></h4>
                </div>
                <div class="card-content">
                  <p>Mentoring students and handling their queries in the course ENGG 1330 (Introduction to Python) and COMP 1117 (Python and its Applications).</br>
                     Conducting tutorials and solving problems on a weekly basis in a class of 60 students.</p>
                </div>
              </div>


          <!-- CARD #3 -->              
            <div class="card">
              <div class="card-header">
                <h4> <em>PROGILENCE: </em>&nbsp; Technical Research Intern <span class="job-title">June 2018 - August 2018</span></h4>
              </div>
              <div class="card-content">
                <p>Assisted the team leader to create a people-counting system by implementing deep learning using python and TensorFlow
                    object detection API.
                    Created custom dataset, annotated the images by using tools like LabelImg and assisted in training the dataset.
                    </p>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content"></div>
      </div>

      <!-- END EXPERIENCE -->

      <!-- BEGIN EDUCATION -->
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="education"></a>
            <h2>Education</h2>
          </div>
          <div class="content-body">

            <!-- EDUCATION 1 -->
            <div class="card">
              <div class="card-header">
                <h4>The University of Hong Kong <span class="job-title">September 2018 - May 2020</span></h4>
              </div>
              <div class="card-content">
                <ul> 
                  <li>Minor: Science Entrepreneurship</li>
                <li> CGPA: 3.86/4.3 (First Class Honours)</li>
                <li>Honours: Dean’s Honours List; HKU Foundation Scholarship (2018-2022)</li>
                <li>Relevant Coursework: Data Structures and Algorithms; Discrete Mathematics; Object Oriented Programming and Java;
                    Computer Organisation; Introduction to Python; Introduction to Linux and C++; Probability and Statistics</li>
                <li> Activites: HKU Student Ambassador English Debating Team: Member; 
                        Hall Table Tennis Team: Member</li>
                    
                  
                </ul>
              </div>
            </div>
            <!-- EDUCATION 2 -->
            <div class="card">
              <div class="card-header">
                <h4>St. Joseph's Academy <span class="job-title">April 2005 - May 2018</span></h4>
              </div>
              <div class="card-content">
                  <ul> 
                    <li>Subjects: Computer Science; Mathematics; English; Physics; Chemistry</li>
                    <li> Grade: 96.5% (First Class Honours)</li>
                    <li>Honours: School Topper (Grade 10; Grade 12)</li>
                    <li> Activites: School Council: House Captain; English Debating Team: Vice President; English Dramatics Club: Member;
                       Table Tennis Team: Member; Lawn Tennis Team: Member</li>
                        
                      
                    </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END EDUCATION -->

      <!-- BEGIN PROJECTS -->
      <div class="row">
        <div class="side-content-sm"></div>
        <div class="main-content-lg">
          <div class="content-header">
            <a class="anchor" name="projects"></a>
            <h2>Projects</h2>
          </div>
          <div class="content-body">
            <!-- CARD #1 -->
            <div class="project-card">
              <div class="project-image">
                <!-- <img src="https://drive.google.com/file/d/1s8FXh4cNZNqZPz-Mm4Ov0w4OEWsgUBwW/view?usp=sharing"> -->
              </div>
              <div class="project-content">
                <h3>Prosper.ai</h3>
                <p> This is part of my application for the Cyberport University Partnership Programme.</br>
                    The proposed idea is to build an artificial intelligence based POS(Point of Sale) integrated ERP (Enterprise </br>
                    Resource Planning) system for small-scale vendors of the unorganised sector. We aim to digitise their </br>
                    inventory management system using Image Recognition Software. Moreover, our machine learning model makes use</br>
                    of the vendor's target profit to provide dynamic pricing recommendations.</br>
                </br>Currently, my primary role as the CTO to develop the image recognition algorithm along with creating the web</br> and mobile application.</p>
                <a href="https://drive.google.com/file/d/1l3yW7pSDkBcfLtVG_FesRTjgSONqNPun/view?usp=sharing">Sample</a>
              </div>
            </div>
            <!-- CARD #2 -->
            <div class="project-card">
              <div class="project-image">
                <!-- <img src="/Users/sid/Downloads/site/app/images/Mern.png"> -->
              </div>
              <div class="project-content">
                <h3>Trading Application</h3>
                <p>A dummy trading web application based on the US stock market</p>
                <ul>
                  <li>A MERN stack implementation. Used Restful API to enable fast communication between the client and the server.</li>
                  <li>Used Plotly.js for graphing the stock information of a 100 day period</li>
                  <li>Used AlphaVantage Stock API for accessisng US stock market.</li>
                </ul>
                <a href="https://github.com/agarsid/Trading-Application">GitHub Link</a>
              </div>
            </div>
            <!-- CARD #3 -->
            <div class="project-card">
              <!-- <div class="project-image">
                <img src="../images/Picture.png" alt="sa">
              </div> -->
              <div class="project-content">
                <h3>Tic-Tac-Toe</h3>
                <p>A GUI and network facilitated Tic-Tac-Toe Game in Java.</p>
                <ul>
                  <li>Used Object Oriented Programming alongwith formatting the code based on the Model-View-Controller framework. </li>
                  <li>Implemented a server-client model and used multi-threading.</li>
                </ul>
                <a href="https://github.com/agarsid/Tic-Tac-Toe">GitHub Link</a>
              </div>
            </div>

          </div>
        </div>
        <div class="side-content-sm"></div>
      </div>
      <!-- END PROJECTS -->

      <!-- BEGIN SKILLS -->
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="skills"></a>
            <h2>Skills</h2>
          </div>
          <div class="content-body">
            <ul class="ul-skills">
              <li class="li-skills">Javascript</li>
              <li class="li-skills">Java</li>
              <li class="li-skills">Python</li>
              <li class="li-skills">React</li>
              <li class="li-skills">Node.js</li>
              <li class="li-skills">MongoDB</li>
              <li class="li-skills">C++</li>
              <li class="li-skills">HTML</li>
              <li class="li-skills">CSS</li>
              <li class="li-skills">Teamwork</li>
              <li class="li-skills">Leadership</li>
              <li class="li-skills">Time-Management</li>
              <li class="li-skills">Communication</li>
            </ul>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END SKILLS -->

      <!-- BEGIN CONTACT -->

      <div class="row blue">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="contact"></a>
            <h2 class="white-text">Contact Me</h2>
          </div>
          <div class="contact content-body">
            <p class="white-text">
              Reach me at agarsid@connect.hku.hk
            </p>
            <form method="POST" action="https://formspree.io/email@email.com">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END CONTACT -->

      <!-- BEGIN FOOTER -->
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
          </div>
          <div class="content-body">
            <p>Copyright Siddharth Agarwal 2020</p>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END FOOTER -->

    </div>
  </body>
</html>
